# refer to notion API
NOTION_API_KEY=
NOTION_DATABASE_ID=

# Inspect elements in browser, see network tab and inspect one of XHR requests
CHATGPT_AUTHORIZATION_TOKEN=
CHATGPT_USER_AGENT=
# change Cookie string to base64 to avoid issues with special characters
CHATGPT_COOKIE_STRING_BASE64=