# refer to notion API
NOTION_API_KEY=
NOTION_DATABASE_ID=

# Inspect elements in browser, see network tab and inspect one of XHR requests
SORA_USER_AGENT=
SORA_AUTHENTICATION_TOKEN=
CHATGPT_AUTHORIZATION_TOKEN="${SORA_AUTHORIZATION_TOKEN}"
CHATGPT_USER_AGENT="${SORA_USER_AGENT}"